.subscribe {
  padding: 4rem;
  background-color: #393f43;
  text-align: center;
}

.subscribe .subscribe__title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.subscribe .subscribe__title,
p {
  color: white;
}

.subscribe__divider {
  margin: auto;
  margin-bottom: 1rem;
  width: 8%;
  border-top: 3px solid #ffffff;
}

.subscribe p {
  margin-bottom: 1rem;
}

.form input {
  padding: 5px;
  width: 20%;
  background-color: #4c5257;
}

.subscribe__button {
  font-size: 1rem;
  margin-left: 1rem;
  padding: 6px 6px;
  min-width: 120px;
  width: 200px;
  border: 1px solid var(--color-blue);
  border-radius: 4px;
  color: white;
  background-color: #d83232;
  font-weight: 500;
  cursor: pointer;
}

.subscribe__button:hover {
  background-color: #b42626;
}
