@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");
@import url("./reset.css");
@import url("./typography.css");
@import url("./navigation.css");
@import url("./welcome.css");
@import url("./team.css");
@import url("./models.css");
@import url("./contact.css");
@import url("./footer.css");
@import url("./scrollButton.css");