.cars {
  width: 100%;
  margin: auto;
  background-color: #FFF5FF;
  padding: 2.5rem;
}

.heading {
  text-align: center;
  line-height: 1.3;
}

.heading span {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ff0015;
}

.heading h2 {
  font-weight: 500;
  margin-bottom: 1rem;
  color: #3b4856;
}

.cars-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  
}

.cars-container .box {
  position: relative;
  height: 300px;
  border-radius: 0.5rem;
  overflow: hidden;
  
}

.cars-container .box img {
  width: 400px;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.cars-container .box img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.cars-container .box h2 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: 400;
  font-size: 1rem;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 8px;
  border-radius: 0.5rem;
  border: 1px solid white;
}

.cars-container .box:hover h2 {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
